*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
}

main {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	visibility: hidden;
}

#startDisplay {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
}

.teams {
	display: flex;
}

.teamChar {
	display: flex;
	border: 1px solid grey;
	padding: 10px;
	margin: 5px;
}

#chooseTeam2Button {
	visibility: hidden;
}

#displayCharacters {
	/*
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	*/
}

#displayCharacters > p {
    padding: 10px;
    border: 2px solid gray;
}

#gameScreen {
	display: flex;
	flex-direction: column;
	border: 4px solid red;
	width: 80%;
	height: 50%;
}

#playingField {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid red;
	width: 100%;
	height: 70%;
}

.current {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.healthDisplay {
	color: green;
}

.currentPlayer {
	height: 70px;
	width: 70px;
	background-color: grey;
}

#rosterContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#resetGame {
	visibility: hidden;
}
