*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
}

main {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teams {
    text-align: center;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.teams > p {
    margin: 10px 0 10px 0;
    padding: 10px 5px 10px 5px;
    border: 1px solid gray;
}

#attack {
	visibility: hidden;
}

#displayCharacters {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#displayCharacters > p {
    padding: 10px;
    border: 2px solid gray;
}
